@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Urbanist";
  src: url("../public/fonts/Urbanist-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Urbanist";
  src: url("../public/fonts/Urbanist-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Urbanist";
  src: url("../public/fonts/Urbanist-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Urbanist";
  src: url("../public/fonts/Urbanist-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Urbanist";
  src: url("../public/fonts/Urbanist-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Urbanist";
  src: url("../public/fonts/Urbanist-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Urbanist";
  src: url("../public/fonts/Urbanist-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Urbanist";
  src: url("../public/fonts/Urbanist-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Urbanist";
  src: url("../public/fonts/Urbanist-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Urbanist";
  src: url("../public/fonts/Urbanist-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Urbanist";
  src: url("../public/fonts/Urbanist-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Urbanist";
  src: url("../public/fonts/Urbanist-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Urbanist";
  src: url("../public/fonts/Urbanist-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Urbanist";
  src: url("../public/fonts/Urbanist-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Urbanist";
  src: url("../public/fonts/Urbanist-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Urbanist";
  src: url("../public/fonts/Urbanist-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Urbanist";
  src: url("../public/fonts/Urbanist-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
@theme {
  --color-purple-50: #f1ecfc;
  --color-purple-100: #e3d8f8;
  --color-purple-150: #d4c5f5;
  --color-purple-200: #c6b1f1;
  --color-purple-300: #aa8beb;
  --color-purple-400: #8d64e4;
  --color-purple: #713ddd;
  --color-purple-500: #713ddd;
  --color-purple-600: #5a31b1;
  --color-purple-700: #442585;
  --color-purple-800: #2d1858;
  --color-purple-850: #221242;
  --color-purple-900: #170c2c;
  --color-purple-950: #0b0616;

  --color-yellow-50: #fffae6;
  --color-yellow-100: #fff6cc;
  --color-yellow-150: #fff1b3;
  --color-yellow-200: #ffed99;
  --color-yellow-300: #ffe366;
  --color-yellow-400: #ffda33;
  --color-yellow: #ffd100;
  --color-yellow-500: #ffd100;
  --color-yellow-600: #cca700;
  --color-yellow-700: #997d00;
  --color-yellow-800: #665400;
  --color-yellow-850: #4d3f00;
  --color-yellow-900: #332a00;
  --color-yellow-950: #1a1500;

  --color-black: #1a1a1a;
  --color-dark-gray: #ced4da;
  --color-gray: #dee2e6;
  --color-light-gray: #e9ecef;
  --color-lighter-gray: #f8f9fa;
  --color-white: #ffffff;
}

body {
  @apply m-0;
  font-family: "Urbanist", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(240 10% 3.9%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(240 10% 3.9%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(240 10% 3.9%);
  --primary: hsl(240 5.9% 10%);
  --primary-foreground: hsl(0 0% 98%);
  --secondary: hsl(240 4.8% 95.9%);
  --secondary-foreground: hsl(240 5.9% 10%);
  --muted: hsl(240 4.8% 95.9%);
  --muted-foreground: hsl(240 3.8% 46.1%);
  --accent: hsl(240 4.8% 95.9%);
  --accent-foreground: hsl(240 5.9% 10%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(0 0% 98%);
  --border: hsl(240 5.9% 90%);
  --input: hsl(240 5.9% 90%);
  --ring: hsl(240 10% 3.9%);
  --chart-1: hsl(12 76% 61%);
  --chart-2: hsl(173 58% 39%);
  --chart-3: hsl(197 37% 24%);
  --chart-4: hsl(43 74% 66%);
  --chart-5: hsl(27 87% 67%);
  --radius: 0.6rem;
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
  --background: hsl(240 10% 3.9%);
  --foreground: hsl(0 0% 98%);
  --card: hsl(240 10% 3.9%);
  --card-foreground: hsl(0 0% 98%);
  --popover: hsl(240 10% 3.9%);
  --popover-foreground: hsl(0 0% 98%);
  --primary: hsl(0 0% 98%);
  --primary-foreground: hsl(240 5.9% 10%);
  --secondary: hsl(240 3.7% 15.9%);
  --secondary-foreground: hsl(0 0% 98%);
  --muted: hsl(240 3.7% 15.9%);
  --muted-foreground: hsl(240 5% 64.9%);
  --accent: hsl(240 3.7% 15.9%);
  --accent-foreground: hsl(0 0% 98%);
  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(0 0% 98%);
  --border: hsl(240 3.7% 15.9%);
  --input: hsl(240 3.7% 15.9%);
  --ring: hsl(240 4.9% 83.9%);
  --chart-1: hsl(220 70% 50%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(340 75% 55%);
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
